<h1 class="text-center">Sign In</h1>

<div class="col col-sm-8 col-md-6 col-lg-4 mx-auto">
  <form action="/auth/signin" method="post" novalidate class="needs-validation">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Please enter a valid email address</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        required
        minlength="8"
      />
      <div class="invalid-feedback">
        Password is required and must contains at least 8 characters
      </div>
    </div>
    <div class="mb-3">
      <input class="btn btn-primary" type="submit" value="Log In" />
    </div>
  </form>

  <p>
    Don't have an account?
    <a class="btn btn-primary btn-sm" href="/auth/signup">Sign Up</a>
  </p>
</div>
